name: Fetch GitHub Trending

on:
  # push:
  #   branches:
  #     - main
  schedule:
    - cron: '0 3 * * *' # UTC 凌晨 3 点
    - cron: '0 9 * * *' # UTC 早 9 点
    - cron: '0 13 * * *' # UTC 中午 1 点
    - cron: '0 18 * * *' # UTC 下午 6 点
    - cron: '0 23 * * *' # UTC 下午 11 点

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        run: pnpm install

      # - name: Build the languages
      #   run: pnpm gen:lang

      - name: Build the trending
        run: pnpm build

      - name: Commit and Push changes
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m ":rocket: Fetch GitHub Trending at $(date +'%Y-%m-%d %H:%M')"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}